@media only screen and (min-width: 769px) and (max-width: 1024px){
	/*body{
		background: red;
	}*/
}

@media only screen and (min-width: 426px) and (max-width: 768px){
	/*body{
		background: blue;
	}*/
	.column{
		flex-basis: 48%;
		margin: 1%;
	}
	.column p{
		padding-top: 0px;
	}
}

@media only screen and (max-width: 426px){
	/*body{
		background: green;
	}*/

	.section{
		flex-direction: column;
	}
	.column{
		margin-bottom: 15px;
	}
	.column h2{
		text-align: center;
	}
}