*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}
/*body{
	background: black;
	color: black;
	font-size: 24px;
}*/

.outer{
	width: 100%;
	box-shadow: 0px 0px 5px 2px gray;
}
.header{
	max-width: 1320px;
	background-color: black;
	color: white;
	padding: 15px;
	margin: auto;
	text-align: center;
	box-sizing: border-box;
}
.outer-section{
	width: 100%;
}
.section{
	max-width: 1320px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.column{
	flex-basis: 30%;
	margin: 1.5%;
	box-shadow: 0px 0px 5px 3px gray;
	border-radius: 15px;
}
.column img{
	width: 100%;
	border-top-right-radius: 15px;
}
.column p{
	padding: 15px;
}
.column h2{
	padding: 15px;	
}